annotated-types
anyio
certifi
distro
groq
h11
httpcore
httpx
idna
pydantic
pydantic_core
sniffio
typing-inspection
typing_extensions
vt-py
requests
python-whois
dnspython
rich
python-nmap
beautifulsoup4
python-docx
psutil
aiohttp
